<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Green Tunnel</title>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-D1R7M2YZ8Q"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-D1R7M2YZ8Q');
        </script>

        <link rel="stylesheet" href="styles/css-reset.css">
        <link rel="stylesheet" href="styles/main.css">

        <script>window.$ = window.jQuery = require('jquery');</script>
        <script type="text/javascript" src="./scripts/main.js"></script>
    </head>

    <body>
        <button id="close-button">&#x2715;</button>

        <div class="app">
            <p class="app-title">Green Tunnel</p>

            <div id="on-off-button" class="power-btn toggle off">
                <img class="logo" src="./images/logo.png" alt="Toggle">
            </div>

            <p id="status-off-on" class="status-text toggle off">is off</p>
        </div>

        <p class="note">Does not hide your IP address</p>
    </body>
</html>
