<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Green Tunnel</title>
        <link rel="stylesheet" href="styles/css-reset.css">
        <link rel="stylesheet" href="styles/main.css">
        <script type ="text/javascript" src="./scripts/main.js"></script>
        <script type="text/javascript" src="./scripts/tray.js"></script>
    </head>

    <body>

        <div class="center">
            <div class="title green">
                <h1>Green Tunnel</h1>
                <h2>is on</h2>
            </div>

            <div class="status-container green">
                <img class="logo" src="./images/logo.png" alt="">
            </div>
        </div>

        <div id="left-border" class="border green"></div>
        <div id="right-border" class="border green"></div>
        <div id="top-border" class="border green"></div>
        <div id="bottom-border" class="border green"></div>

        <div class="bottom-banner green">
            <p>Note: GreenTunnel do not hide your IP address</p>
        </div>

        <img src="./images/cancel.png" class="close-button" alt="">

    </body>
</html>
